# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
# .gitignore
Application Data/
Cookies/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/
3D Objects/
AppData/
Contacts/
Creative Cloud Files/
Desktop/
Documents/
Downloads/
Favorites/
Links/
MicrosoftEdgeBackups/
Music/
NTUSER.DAT
NTUSER.DAT{2f768d12-7461-11ed-bade-ec3eaa425387}.TM.blf
NTUSER.DAT{2f768d12-7461-11ed-bade-ec3eaa425387}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{2f768d12-7461-11ed-bade-ec3eaa425387}.TMContainer00000000000000000002.regtrans-ms
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/
